/* ===========================
   RSI BAR TASARIMI
=========================== */

.rsi-cell {
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

.rsi-bar {
    letter-spacing: 1px;
    color: #7fd1ff; /* açık mavi */
    font-size: 18px;
    font-weight: bold;
    text-shadow:
        0 0 6px #3ac1ff,
        0 0 12px #3ac1ff;
}

.rsi-num {
    color: #a8ff9e;
    font-size: 18px;
    margin-left: 8px;
    text-shadow:
        0 0 6px #8cff3b,
        0 0 12px #71ff17;
}
