body {
    background: #0b1220;
    color: white;
    font-family: "Courier New", monospace;
    text-align: center;
}

header h1 {
    font-size: 38px;
    margin-top: 25px;
    text-shadow: 0 0 15px #3ac1ff;
}

h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.table-container {
    width: 95%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

thead th {
    padding: 14px;
    font-size: 22px;
    letter-spacing: 2px;
}

tbody tr {
    background: rgba(255,255,255,0.03);
    margin-bottom: 6px;
    border-radius: 10px;
}

tbody tr:hover {
    background: rgba(255,255,255,0.08);
    transition: 0.15s;
}

td {
    padding: 12px;
}

/* Hacim Neon */
td.volume {
    color: #33ccff;
    font-weight: 700;
    text-shadow: 0 0 8px #33ccff, 0 0 16px #33ccff;
}

/* Pump Skor Neon */
td.pumpscore {
    color: #ffea00;
    font-weight: 800;
    text-shadow: 0 0 10px #ffea00, 0 0 20px #ffd900;
}

/* Değişim renkleri */
.red { color: #ff4d4d; }
.green { color: #4dff7a; }

/* Yükleniyor */
.loading {
    padding: 30px;
    font-size: 22px;
    text-shadow: 0 0 10px white;
}
